<h1>Movie search</h1>

<!-- # http://www.omdbapi.com/?  might need this--> 


<%= simple_form_for [@movies,Movie.new] do |f| %>
<%= f.label :movies %>
<%= f.text_field :title %>
<%= f.submit("search") %>
<% end %>